@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* Set all elements to use the Open Sans font */
body,
input,
textarea,
button,
footer,
select {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

/* Set the background color of all pages */
html,
body {
    /*background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);*/
    /* linear-gradient background */
    background: #2d545e;
    background: linear-gradient(45deg, #2d545e11, #2d545e23, #12343bff 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    height: 100%;
    min-height: auto;

    /*background-color: #F2F2F2;*/
}

/* Set the style of the navigation list */
header nav ul {
    background: #e1b382;
    background: linear-gradient(90deg, #e1b38211, #e1b38223, #c89666ff 100%);
    /*background-color: #c89666;*/
    border-bottom: 1px solid #CCC;
    box-sizing: border-box;
    list-style: none;
    margin-top: 0;
    margin-bottom: 2em;
    padding: 0 0 0 1em;
    font-size: 24px;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 rgb(206, 206, 206),
        1px 1px 0 #000;
}

/* Added footer */
footer {
    background: #e1b382;
    background: linear-gradient(90deg, #e1b38211, #e1b38223, #c89666ff 100%);
    /*background-color: #c89666;*/
    border-top: 1px solid #CCC;
    box-sizing: border-box;
    list-style: none;
    margin-bottom: 0;
    margin-top: 2em;
    color: #a6bfc5;
    padding: .5em 0 .5em 0;
    font-size: 24px;
    text-shadow:
        -1px -1px 0 #ffffff,
        1px -1px 0 #12343b,
        -1px 1px 0 #12343b,
        1px 1px 0 #12343b;
    bottom: 0;
    width: 100%;
    text-align: center;
    position: fixed;
}

/* Set the spacing and layout of the nav list items */
header nav ul li {
    display: inline-block;
    margin: 0 1em;
    padding: 1em 0 1em 0;
}

/* Set the style of the links in the nav */
header nav ul li a {
    /*font-weight: bold;*/
    text-decoration: none;
    color: #9d9995;

}

/* Added hover */
nav:hover {
    box-shadow: 5px 3px 3px rgb(12, 80, 66);
    background-color: rgba(128, 128, 128, 0.488);
    transition: box-shadow 1s;
}

/* Make the input tags look nicer */
input {
    height: 1.5em;
    margin: 0;
    padding: .25em .5em;
    background-color: rgb(229, 227, 227);
}

/* Make the select boxes look nicer */
select {
    height: 2.5em;
    background-color: rgb(229, 227, 227);
}

/* Make the select-multiple boxes look nicer */
select[multiple] {
    height: 7.5em;
    background-color: rgb(229, 227, 227);
}

/* Make the textarea inputs look nicer */
textarea {
    margin: 0;
    padding: .25em .5em;
    background-color: rgb(229, 227, 227);
}

/* Set the width on all tables */
table {
    width: 100%;
}

/* Set the size of the help text in forms */
.helptext {
    display: block;
    font-size: 80%;
}

/* Make the login and sign-up forms look nicer */
.login-form,
.signup-form {
    background-color: #e1b3825f;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(50, 50, 0, 0.5);
    margin: auto;
    max-width: 400px;
    padding: 2em;
}

/* Make the task and projects forms look nicer */
.task-form,
.project-form {
    background-color: #e1b3825f;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(50, 50, 0, 0.5);
    margin: auto;
    max-width: 600px;
    padding: 2em;
}

/* Make all of the headers the same */
.task-form h1,
.login-form h1,
.signup-form h1,
.project-list h1,
.project-form h1,
.project-detail h1 {
    margin-top: 0;
    font-size: 30px;
    font-weight: lighter;
    color: #9d9995bd;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

/* Add spacing to the section of the project detail */
.project-detail h2 {
    margin-top: 2em;
}

/* Standardize form layout using grid */
.task-form p,
.login-form p,
.signup-form p,
.project-form p {
    display: grid;
    align-items: center;
    column-gap: 10px;
    grid-template-columns: 100px 1fr;
}

/* Standardize help text positions in the grid */
.task-form p .helptext,
.login-form p .helptext,
.signup-form p .helptext,
.project-form p .helptext {
    grid-column-start: 2;
    grid-column-end: 3;
}

/* Make the buttons a little larger */
.task-form button,
.my-tasks-list button,
.login-form button,
.signup-form button,
.project-form button {
    padding: 0.25em 1em;
    background-color: #2d545e;
    color: whitesmoke;
}

/* Add a nice box around the lists and details */
.my-tasks-list,
.project-list,
.project-detail {
    background-color: rgba(202, 199, 199, 70%);
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(20, 0, 0, 0.5);
    margin: auto;
    max-width: 800px;
    padding: 2em;

}

/*Added text update to H1 in My Tasks*/
.task-list {
    font-size: 30px;
    font-weight: lighter;
    color: #9d9995bd;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

/* Add padding to the table header and table datum tags */
.my-tasks-list th,
.my-tasks-list td,
.project-list th,
.project-list td,
.project-detail th,
.project-detail td {
    padding: .5em;
    color: rgba(0, 0, 0, 0.664);
}

/* Add a bottom border to the table header tags */
.my-tasks-list thead tr th,
.project-list thead tr th,
.project-detail thead tr th {
    border-bottom: 2px solid #DEDEDE;
}

/* Center align the text on specific table header cells */
.my-tasks-list tbody td:nth-child(2),
.my-tasks-list tbody td:nth-child(3),
.my-tasks-list tbody td:nth-child(4),
.project-list tbody tr td,
.project-detail tbody td:nth-child(2),
.project-detail tbody td:nth-child(3),
.project-detail tbody td:nth-child(4),
.project-detail tbody td:nth-child(5) {
    text-align: center;
}

/* Add horizontal rules to all rows except the last */
.my-tasks-list tbody :not(tr:last-child) td,
.project-list tbody :not(tr:last-child) td,
.project-detail tbody :not(tr:last-child) td {
    border-bottom: 1px solid #DEDEDE;
}